{% extends 'base.html.twig' %}

{% block title %}Weather Time! - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('weather-time') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const initialZip = "{{ zip }}";
    </script>
    {{ encore_entry_script_tags('weather-time') }}
{% endblock %}
